<div class="chart">
    <div class="chart-header d-flex justify-content-between align-items-center mb-4">
        <h4 class="chart-title">Task Done</h4>
        <div class="labels">
            <span>Daily</span>
            <span>Weekly</span>
            <span class="active">Monthly</span>
        </div>
    </div>
    <canvas style="width: 100%; height: calc(100% - 56px);" 
        baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [type]="'line'" 
        [options]="lineChartOptions" 
        [legend]="lineChartLegend">
    </canvas>
</div>